In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [3]:
x=df.iloc[:,1:-1]
y=df['Sales']

In [4]:
x

     Radio  Newspaper
0     37.8       69.2
1     39.3       45.1
2     45.9       69.3
3     41.3       58.5
4     10.8       58.4
..     ...        ...
195    3.7       13.8
196    4.9        8.1
197    9.3        6.4
198   42.0       66.2
199    8.6        8.7

[200 rows x 2 columns]

In [5]:
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test=train_test_spilt(x,y,test_size=0.2,random_state=34)

ModuleNotFoundError: No module named 'sklearn'

In [1]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test=train_test_spilt(x,y,test_size=0.2,random_state=34)

ModuleNotFoundError: No module named 'sklearn'