In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
play_data=pd.read_csv('PlayTennis.csv')

In [3]:
play_data.head(5)

    Outlook Temperature Humidity    Wind Play_Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [4]:
play_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     object
 4   Play_Tennis  14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [5]:
play_data.isnull

<bound method DataFrame.isnull of      Outlook Temperature Humidity    Wind Play_Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No>

In [6]:
play_data.Play_Tennis.value_counts()

Yes    9
No     5
Name: Play_Tennis, dtype: int64

# ENTROPY of play

Entropy(play)=-p(Yes).log2p(Yes)-p(No).log2p(No)

In [7]:
Entropy_Play=-(9/14)*np.log2(9/14)-(5/14)*np.log2(5/14)

In [8]:
Entropy_Play

0.9402859586706311

In [9]:
play_data[play_data.Outlook=='sunny']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [10]:
# Entropy PLay/Outlook=Sunny
Entropy_Play_Outlook_Sunny=-(3/5)*np.log2(3/5)-(2/5)*np.log2(2/5)

In [11]:
Entropy_Play_Outlook_Sunny

0.9709505944546686

In [12]:
play_data[play_data.Outlook=='overcast']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [13]:
# Entropy play/outlook=rainy
Entropy_Play_Outlook_Rain=-(2/5)*np.log2(2/5)-(3/5)*np.log2(3/5)

In [14]:
Entropy_Play_Outlook_Rain

0.9709505944546686

In [15]:
Entropy_Play_Outlook_Sunny-(3/5)*0-(2/5)*0

0.9709505944546686

In [16]:
Entropy_Wind_False=-(1/3)*np.log2(1/3)-(2/3)*np.log2(2/3)

In [17]:
Entropy_Wind_False

0.9182958340544896

In [18]:
Entropy_Play_Outlook_Sunny-(3/5)*Entropy_Wind_False-(2/5)*1

0.01997309402197489

In [19]:
Entropy_Play_Outlook_Sunny-(2/5)*0-(1/5)*0-(2/5)*1

0.5709505944546686