In [1]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [2]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [3]:
i!=0

NameError: name 'i' is not defined

In [4]:
A=[3,4,5]

for a in A:

print(a)

IndentationError: expected an indented block after 'for' statement on line 3 (3537586714.py, line 5)

In [5]:
A=[3,4,5]

for a in A:

    print(a)

3
4
5

In [6]:
a=1

def add(b):

return a+b

c=add(10)

IndentationError: expected an indented block after function definition on line 3 (1265440739.py, line 5)

In [7]:
a=1

def add(b):

    return a+b

    c=add(10)

In [8]:
a=1

def add(b):

    return a+b

c=add(10)

In [9]:
a=1

def add(b):

    return a+b

c=add(10)
print(c)

11

In [10]:
def f(*x):

    return sum(x)

In [11]:
A = ['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [12]:
def Delta(x):

    if x==0:

        y=1;

    else:

        y=0;

    return(y)

In [13]:
{'a':1,'b':2}

{'a': 1, 'b': 2}

In [14]:
np.dot(np.array([1,-1]),np.array([1,1])

SyntaxError: incomplete input (4122185333.py, line 1)

In [15]:
np.dot(np.array([1,-1]),np.array([1,1]))

NameError: name 'np' is not defined

In [16]:
import numpy as np
np.dot(np.array([1,-1]),np.array([1,1]))

0

In [17]:
A = np.array([[1,2],[3,4],[5,6],[7,8]])

B = np.array([[1,2,3],[4,5,6],[7,8,9]])

np.dot(A,B)

ValueError: shapes (4,2) and (3,3) not aligned: 2 (dim 1) != 3 (dim 0)

In [18]:
a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [19]:
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [20]:
a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])

In [21]:
F="You are wrong"
F.up()

AttributeError: 'str' object has no attribute 'up'

In [22]:
F="You are wrong"
F.upper()

'YOU ARE WRONG'

In [23]:
 A=((11,12),[21,22])
    A[1]

IndentationError: unexpected indent (1180983014.py, line 2)

In [24]:
 A=((11,12),[21,22])
A[1]

[21, 22]

In [25]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [27]:
V={'A','B'}
V.add('C')
print(V)

{'A', 'B', 'C'}

In [28]:
x="Go"

if(x!="Go"):

    print('Stop')

else:

    print('Go ')

print('Mike')

Go
Mike

In [29]:
x="Go"

if(x=="Go"):

    print('Go ')

else:

    print('Stop')

print('Mike')

Go
Mike

In [30]:
for n in range(3):

print(n)

IndentationError: expected an indented block after 'for' statement on line 1 (3126457879.py, line 3)

In [31]:
for n in range(3):

    print(n)

0
1
2

In [32]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [34]:
def Add(x,y):

    z=y+x

    return(y)
c=Add(x,y)
print(c)

NameError: name 'y' is not defined

In [36]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2

In [37]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,' y=',self.y)

p1=Points(1,2)

p1.print_point()

x= 1  y= 2

In [38]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,'y=',self.y)

In [1]:
for i in range(1):
    print("#")
else:
    print("#")

SyntaxError: invalid non-printable character U+00A0 (2366953142.py, line 2)

In [2]:
for i in range(1):
    print("#")
else:
    print("#")

SyntaxError: invalid non-printable character U+00A0 (1269014014.py, line 2)

In [3]:
for i in range(1):
    print("#")
else:
    print("#")

#
#

In [4]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue
    print("#")

#
#
#

In [5]:
var = 1
while var < 10:
    print("#")
    var = var << 1

#
#
#
#

In [6]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y

In [7]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y
print(x)

True

In [8]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b

print(c + d + e)

2

In [9]:
my_list = [3, 1, -2]
print(my_list[my_list[-1]])

1

In [10]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])

[2]

In [11]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]

In [12]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]
print(vals)

[2, 1, 0]

In [13]:
vals = [0, 1, 2]
vals.insert(0, 1)
del vals[1]
print(vals)

[1, 1, 2]

In [14]:
nums = [1, 2, 3]
vals = nums
del vals[1:2]
print(nums)
print(vals)

[1, 3]
[1, 3]

In [15]:
nums = [1, 2, 3]
vals = nums[-1:-2]

print(nums)
print(vals)

[1, 2, 3]
[]

In [16]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1:
    my_list_2.insert(0, v)
print(my_list_2)

SyntaxError: invalid non-printable character U+00A0 (3762542449.py, line 4)

In [17]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1:
    my_list_2.insert(0, v)
print(my_list_2)

[3, 2, 1]

In [18]:
my_list = [1, 2, 3]
for v in range(len(my_list)):
    my_list.insert(1, my_list[v])
print(my_list)

[1, 1, 1, 1, 2, 3]

In [19]:
my_list = [i for i in range(-1, 2)]

print(my_list)

[-1, 0, 1]

In [20]:
t = [[3-i for i in range (3)] for j in range (3)]
s = 0
for i in range(3):
    s += t[i][i]
print(s)

6

In [21]:
my_list = [[0, 1, 2, 3] for i in range(2)]
print(my_list[2][0])

IndexError: list index out of range

In [22]:
def f(x):
    if x == 0:
        return 0
    return x + f(x - 1)


print(f(3))

6

In [23]:
def fun(x):
    x += 1
    return x


x = 2
x = fun(x + 1)
print(x)

4

In [24]:
def func(a, b):
    return a ** a


print(func(2))

TypeError: func() missing 1 required positional argument: 'b'

In [25]:
def fun(x):
    global y
    y = x * x
    return y


fun(2)
print(y)

4

In [26]:
def any():
    print(var + 1, end='')


var = 1
any()
print(var)

21

In [27]:
my_tuple[1] = my_tuple[1] + my_tuple[0]

NameError: name 'my_tuple' is not defined

In [28]:
tup = (1, 2, 4, 8)
tup = tup[1:-1]
tup = tup[0]
print(tup)

2

In [29]:
def function_1(a):
    return None


def function_2(a):
    return function_1(a) * function_1(a)


print(function_2(2))

TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'

In [30]:
1 // 2

0

In [31]:
def func(a, b):
    return b ** a


print(func(b=2, 2))

SyntaxError: positional argument follows keyword argument (2047894747.py, line 5)

In [32]:
z = 0
y = 10
x = y < z and z > y or y < z and z < y

print(x)

False

In [33]:
# A:
except (TypeError, ValueError, ZeroDivisionError):
    # Some code.

# B:
except TypeError, ValueError, ZeroDivisionError:
    # Some code.

# C:
except: (TypeError, ValueError, ZeroDivisionError)
    # Some code.

# D:
except: TypeError, ValueError, ZeroDivisionError
    # Some code.

# E:
except (TypeError, ValueError, ZeroDivisionError)
    # Some code.

# F:
except TypeError, ValueError, ZeroDivisionError
    # Some code.

SyntaxError: invalid non-printable character U+00A0 (3784253596.py, line 3)

In [34]:
my_list =  [x * x for x in range(5)]


def fun(lst):
    del lst[lst[2]]
    return lst


print(fun(my_list))

[0, 1, 4, 9]

In [35]:
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [36]:
a = 1
b = 0
a = a ^ b
b = a ^ b
a = a ^ b

print(a, b)

0 1

In [37]:
def fun(x):
    if x % 2 == 0:
        return 1
    else:
        return 2


print(fun(fun(2)))

2

In [38]:
nums = [1, 2, 3]
vals = nums
del vals[:]

In [39]:
nums = [1, 2, 3]
vals = nums
del vals[:]

print(nums)
print(vals)

[]
[]

In [40]:
x = int(input())
y = int(input())
x = x % y
x = x % y
y = y % x
print(y)

3
2
0

In [41]:
y = input()
x = input()
print(x + y)

3
6
63

In [42]:
print("a", "b", "c", sep="sep")

asepbsepc

In [43]:
x = 1 // 5 + 1 / 5
print(x)

0.2

In [44]:
x = float(input())
y = float(input())
print(y ** (1 / x))

2
4
2.0

In [45]:
dct = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dct['three']

for k in range(len(dct)):
    v = dct[v]

print(v)

SyntaxError: invalid non-printable character U+00A0 (4183297369.py, line 5)

In [46]:
dct = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dct['three']

for k in range(len(dct)):
    v = dct[v]

print(v)

one

In [47]:
lst = [i for i in range(-1, -2)]

print(lst)

[]

In [1]:
def fun(x, y):
    if x == y:
      return x
    else:
        return fun(x, y-1)


print(fun(0, 3))

SyntaxError: invalid non-printable character U+00A0 (2808989379.py, line 3)

In [2]:
dd = {"1": "0", "0": "1"}
for x in dd.vals():
    print(x, end="")

AttributeError: 'dict' object has no attribute 'vals'

In [3]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

21

In [4]:
def fun(inp=2, out=3):
    return inp * out


print(fun(out=2))

4

In [5]:
lst = [[x for x in range(3)] for y in range(3)]

for r in range(3):
    for c in range(3):
        if lst[r][c] % 2 != 0:
            print("#")

#
#
#

In [7]:
foo = (1, 2, 3)
print(foo.index(0))

ValueError: tuple.index(x): x not in tuple

In [1]:
nums = [1, 2, 3]
vals = nums

In [2]:
nums = [1, 2, 3]
vals = nums

print(vals)
print(nums)

[1, 2, 3]
[1, 2, 3]

In [3]:
try:
    value = input("Enter a value: ")
    print(int(value)/len(value))
except ValueError:
    print("Bad input...")
except ZeroDivisionError:
    print("Very bad input...")
except TypeError:
    print("Very very bad input...")
except:
    print("Booo!")

Enter a value: 0
0.0

In [4]:
try:
    print(5/0)
    break
except:
    print("Sorry, something went wrong...")
except (ValueError, ZeroDivisionError):
    print("Too bad...")

SyntaxError: 'break' outside loop (3890488564.py, line 3)